link(
    href="guide.css"
    rel="stylesheet"
)

include ../src/views/index

script(src='guide.js')

.container(ng-controller='GuideCtrl as guideCtrl')
    .row.text-center
        .col-6.btn(ng-click='guideCtrl.view("js")') js
        .col-6.btn(ng-click='guideCtrl.view("jade")') jade
    .row(ng-if='guideCtrl.selection === "js"')
        .col-12.text-center JS
        include mixins/guide-js
    .row(ng-if='guideCtrl.selection === "jade"')
        .col-12.text-center Mixins Jade
        include mixins/guide-jade